<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>

    <!-- Define a bean with the id "helloService" and the class "HelloWorld" -->
    <bean id="helloService" class="HelloWorld"/>

    <bean id="helloService-1.0.0" class="org.geoserver.platform.Service">
        <!-- Define the service name -->
        <constructor-arg index="0" value="hello"/>
        <!-- Define the service implementation -->
        <constructor-arg index="1" ref="helloService"/>
        <!-- Define the version of the service -->
        <constructor-arg index="2" value="1.0.0"/>
        <!-- Define a list of operations for the service -->
        <constructor-arg index="3">
            <list>
                <value>sayHello</value>
            </list>
        </constructor-arg>
    </bean>
</beans>